body,
html {
  background: #666;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#kara-group-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  font-size: 65px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 400;
}

.kara-group {
  display: none;
}

.kara-group.kara-active {
  display: block;
}

.kara-newline {
  height: 40px;
  overflow: hidden;
}

.kara-segment {
  display: inline-block;
  position: relative;
}

.kara-text {
  color: rgb(70, 150, 230);
  text-shadow: 3px 3px 10px #000;
}

.kara-text-highlight {
  color: yellow;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 0;
}
