body,
html {
  background: #000;
  color: #ccc;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#kara-group-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.kara-group {
  display: none;
}

.kara-group.kara-active {
  display: block;
}

.kara-segment {
  display: inline-block;
  position: relative;
}

.kara-text {
  color: gray;
}

.kara-text-highlight {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 0;
}
